<main class="main">
    <div class="main__content">
        <div class="header--link">
            <a href="/spotify-index" title="На головну">
                <img src="/img/akar-icons_cross.svg" alt=""></a>
        </div>
        <h1 class="title title--center">Створити</h1>


        <ul class="choose">
            <a href="/spotify-create">
                <li class="choose__item">
                    <img src="/img/choose_1.svg" alt="" class="coose__img">
                    <div class="choose__content">
                        <strong class="title">Плейліст</strong>
                        <p class="choose__text">Створіть плейліст із піснями чи епізодами</p>
                    </div>
                </li>
            </a>
            <a href="/spotify-create?isMix=true">
                <li class="choose__item">
                    <img src="/img/choose_2.svg" alt="" class="coose__img">
                    <div class="choose__content">
                        <strong class="title">Мікс</strong>
                        <p class="choose__text">Комбінуйте смаки в спільному плейлісті з друзями</p>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</main>