<main>
  <section class="nav">
    <h1 class="nav__title">Вітаю, оберіть форму:</h1>
    <div class="nav__list">
      <a href="/user" class="nav__link">USER</a>
    </div>
    <div class="nav__list">
      <a href="/product" class="nav__link">PRODUCT</a>
    </div>
    <div class="nav__list">
      <a href="/purchase" class="nav__link">PRODUCT</a>
    </div>
  </section>
</main>