@use "../../lib/service.scss" as s;

@use '../../component/heading/style.scss' as heading;
@use'../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/field/style.scss' as field;

@use "../../component/divider/style.scss" as divider;

@use '../../component/button/style.scss' as button;

.main {
    display: flex;
    flex-direction: column;
    gap: s.space(5);
    padding: s.space(5);
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: s.space(3);
    padding: s.space(3);
    border: 1px solid s.color(light);
    border-radius: 10px;

    &__total {
        font-size: 20px;
        color: #000;
        font-weight: bold;
    }

    &-item {
        display: grid;
        gap: s.space(1);
        padding: s.space(1);
    }


}

.cart {
    display: grid;
    gap: s.space(2);


    &__item {
        display: flex;
        justify-content: space-between;


    }
}

.half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: s.space(2)
}

.text {
    font-size: 16px;
    color: #000;

    &__grey {
        color: #343A40;
    }
}