<main>
    <div class="alert">
        <div class="alert__info">
            <h2 class="alert__title">{{result}}</h2>
            <p class="alert__text">{{text}}</p>
        </div>

        <div class="alert__btn">
            <a href="/product-list" class="alert__link">Повернутися назад</a>

        </div>
    </div>
</main>