@use '../../lib/service.scss' as s;
@use '../../component/button/style.scss' as button;

.product-card {
    border-radius: 10px;
    border: 1px solid s.color('light');
    padding: s.space(4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: s.space(3);


    &__img {
        max-height: 300px;
        width: 100%;
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
    }

    &__subtitle {
        font-size: 16px;
        color: s.color(grey)
    }

    &__category {
        padding: s.space(2) s.space(4);
        border-radius: 30px;
        font-size: 14px;
        color: s.color('dark-primary');
        border: 1px solid transparent
    }

    &__category--1 {
        border-color: blue;
        color: blue
    }

    &__category--2 {
        border-color: green;
        color: green
    }



}