<main>
  <section class="nav">
    <h1 class="nav__title">Вітаю, оберіть форму:</h1>
    <div class="nav__list">
      <a href="/product-create" class="nav__link">Додати новий товар</a>
    </div>
    <div class="nav__list">
      <a href="/product-list" class="nav__link">Переглянути наявні товари</a>
    </div>
  </section>
</main>